<h1>Here are all the reviews:</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Description</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.description %></td>
    </tr>
  <% end %>
</table>

<h2>Average rating for this restaurant</h2>
<p>
<%= @average_rating %>
</p>

<br>






<%= link_to 'New review', new_restaurant_review_path %>
